img {
    width: 100%;
}

section {
    margin-bottom: 100px;
}

h1 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 2.0rem;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #3D3D3D;
    width: 100%;
    font-weight: 100;
    margin-left: 2px;

}



h2 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #3D3D3D;
    width: 100%;
    font-weight: 100;
    margin-left: 2px;
}

h3 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1.3rem;
    margin-top: 3px;
    text-transform: uppercase;
    color: #3D3D3D;
    width: 100%;
    font-weight: 100;
    margin-bottom: 2px;
    margin-left: 2px;
}

#web h3 {
    color: #F2AD94;
}

#ux h3 {
    color: #F27289;
}

#animation h3 {
    color: #BF6F84;
}

#indhold h3 {
    color: #6A5D79;
}

#web .sectionwrapper .col .knap h3,
#ux .sectionwrapper .col .knap h3,
#animation .sectionwrapper .col .knap h3,
#indhold .sectionwrapper .col .knap h3,
#animation .sectionwrapper1 .col .knap h3 {
    color: white;
    font-size: 1rem;
}



p {
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;
    margin: 2px;
    margin-bottom: 20px;
}

.knap {
    padding: 5px 5px 5px 5px;
    width: 250px;
    text-align: center;
    margin-bottom: 8px;
    font-size: 1rem;
    font-family: 'Tenor Sans', sans-serif;
    height: 35px;
    z-index: 1000;
    color: white;
    border-radius: 0.4rem;
    box-shadow: 2px 2px #888888;
    cursor: pointer;

}

a:visited {
    text-decoration: none;

}

#menu a:visited {
    text-decoration: none;
    color: black;
}

a:link {
    text-decoration: none;
}


a :hover {
    transform: scale(1.1);
    transition-duration: 0.6s;
}

#forside a :hover {
    transform: scale(1);
}

#web .knap {

    border: 1px solid #F2AD94;
    background-color: #F2AD94;
}

#ux .knap {

    border: 1px solid #F27289;
    background-color: #F27289;

}

#animation .knap {

    border: 1px solid #BF6F84;
    background-color: #BF6F84;


}

#indhold .knap {

    border: 1px solid #6A5D79;
    background-color: #6A5D79;


}

#menuknap {
    position: relative;
    display: inline-block;
    width: 3rem;
    font-size: 3rem;
    font-family: 'Tenor Sans', sans-serif;
    color: #3D3D3D;
    margin-top: 0.5rem;
    margin-left: 1rem;
    left: 300px;
    top: -3px;
}

#menu {
    list-style-type: none;
    transition: transform 1s;
    transform-origin: top right;
    position: absolute;
    min-width: 170px;
    z-index: 1;
    right: 1rem;
    top: 1.9rem;
    font-family: 'Tenor Sans', sans-serif;
}

.hidden {
    transform: scale(0);
}

* {
    box-sizing: border-box;
}





.links {
    align-items: center;
}

.col img {
    margin-top: 40px;
}

footer {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #3D3D3D;
    font-size: 0.9rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    width: 100%;
    position: absolute;
    left: 0;

}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

.sectionwrapper1 {
    display: flex;
    flex-wrap: wrap-reverse;
}

#cv img {
    border-radius: 500px;
}

#cv .erfaring {
    border-radius: 0px;
}

#cv h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #325A73;
}

.pil img {
    width: 80px;

}

.col {

    flex-wrap: wrap;

}

.fix {
    display: flex;
}

.colinner {
    margin: 0 auto;
    margin-top: 50px;
}

.timeline h2 {
    margin-top: 50px;
}

.headline {
    padding: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
}

@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;

    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
        flex-direction: row;
        justify-content: center;



    }

    #menu li {
        display: inline-block;



    }


    #menu {
        background-color: transparent;
        font-size: 1rem;
        position: fixed;

    }

    nav .line {
        padding: 20px 20px;
        border-left: 2px solid #3D3D3D;
        border-right: 2px solid #3D3D3D;
        color: #3D3D3D;
        font-size: 1.1em;
        text-decoration: none;
        text-align: center;
        margin: 5px;

    }

    nav a {
        padding: 5px 5px;
        color: #3D3D3D;
        font-size: 1.1em;
        text-decoration: none;
        text-align: center;
        margin: 2px;

    }


    #menu a {
        background-color: transparent;



    }



    section {
        max-width: 1200px;
        margin-top: 100px;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    #portfolio {
        margin-top: 5rem;
        background-position: center;
    }




    #portfolio .sectionwrapper {
        justify-content: center;
        flex-wrap: nowrap;
    }

    .col {
        flex-grow: 1;
        flex-basis: 400px;
        margin: 10px;
    }

    .col img {
        margin-top: 0px;
    }

    h1 {
        font-size: 4rem;
        margin-left: 10px;
    }

    h2 {
        font-size: 2rem;
        margin-left: 10px;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
        line-height: 35px;
    }


    .knap {
        width: 400px;
        height: 75px;
    }

    #web .sectionwrapper .col .knap h3 {
        font-size: 1.5rem;
        margin-top: 18px;
    }

    #ux .sectionwrapper .col .knap h3 {
        font-size: 1.5rem;
        margin-top: 18px;
    }

    #animation .sectionwrapper .col .knap h3 {
        font-size: 1.5rem;
        margin-top: 18px;
    }

    #indhold .sectionwrapper .col .knap h3 {
        font-size: 1.5rem;
        margin-top: 18px;
    }

    .links {
        margin-bottom: 20px;
        margin-top: 60px;
        -webkit-transition-duration: 0.5s;
    }

    #portfolio img {
        padding: 20px;
    }

    .pil img {
        width: 150px;

    }
}
